@import "antd/dist/antd.css";
body {
  margin: 0;
  font-family: Encode Sans SC, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainPage {
  background: rgb(7, 80, 74);
  height: 100vh;
  position: relative;
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: revert;
    padding: 20px 30px;
    .logo {
      width: 120px;
      position: relative;
      height: 85px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 80%;
        border-radius: 40px;
        opacity: 1;
        transition: 0.3s;
        &:hover {
          opacity: 0.9;
          transition: opacity 0.3s ease-in-out;
        }
        &:active {
          opacity: 0.4;
        }
      }
      a {
        text-decoration: none;
        span {
          color: #f7efef;
          text-decoration: none;
          font-size: 20px;
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            color: darken(rgb(247, 239, 239), 15%);
          }
          &:active {
            color: darken(rgb(247, 239, 239), 35%);
          }
        }
      }
    }
  }
  .banner {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    img {
      border-radius: 30px;
    }
  }
  nav {
    display: flex;
    justify-content: flex-end;
    ul {
      display: flex;
      width: 240px;
      justify-content: space-between;
      // padding-right: 30px;
      list-style: none;
      a {
        color: rgb(247, 239, 239);
        text-decoration: none;
        font-size: 20px;
        transition: 0.3s;
        &:hover {
          color: darken(rgb(247, 239, 239), 15%);
        }
        &:active {
          color: darken(rgb(247, 239, 239), 35%);
        }
      }
    }
  }
}

.cross {
  position: absolute;
  top: 30%;
  right: 6%;
}

.add-employees {
  position: absolute;
  top: 87%;
  left: 3%;
}

.ant-form {
  width: 530px;
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  margin-top: -40px;
  margin-left: 60px;
  border: 1px solid #fff;
  position: absolute;
  top: 70%;
  border-radius: 30px;
  .ant-form-item {
    width: 100%;
    padding-top: 10px;
    .ant-input {
      width: 90%;
      border-radius: 6px;
    }
  }
}
.ant-btn-primary {
  position: absolute;
  top: -10px;
  right: 35px;
  border-radius: 5px;
}

.ant-btn-default {
  position: absolute;
  top: -10px;
  left: 0px;
  border-radius: 5px;
}

.create-employee {
  position: absolute;
  top: 88%;
  left: 5%;
}
.ant-form-item-label > label {
  font-family: Encode Sans SC, sans-serif;
  color: #07504a;
}

.ant-spin-nested-loading {
  display: flex;
  justify-content: center;
  .ant-spin-container {
    width: 90%;
  }
}
